* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0.75),rgba(0, 0, 0, 0.75)), url("bgutama.jpeg");
    background-size: 100% 100%; 
    background-color: rgb(30, 29, 29);
}
.main2 {
    width: 100%;
    height: 100vh;
    background-image: url("bg2.png");
    background-size: 100% 100%; 
    background-color: rgb(30, 29, 29);
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 120px;
    padding-left: 80px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(36, 36, 36, 0.658);
}
.navbar img {
    width: 5%;
    height: 5%;
    border-radius: 50%;
}
.logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    width: 330px;
    cursor: pointer;
}
.judul h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    text-align: center;
    font-weight:lighter;
    font-stretch:wider;
    letter-spacing: 2px;
    text-transform: uppercase;
}
hr{
    margin: auto;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a {
    scroll-behavior: smooth;
    color: white;
    text-transform: uppercase; 
    transition: 0.3s;
}
.navbar ul li a:hover {
    color: rgba(255, 255, 0, 0.468);
}
.content {
    color: white;
    text-align: center;
    padding-top: 190px;
}
.content h1 {
    font-size: 40px;
}
.content h2 {
    font-size: 20px;
    font-weight: 100;
}
.content button {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    border-color: rgba(241, 241, 115, 0.201);
    transition: 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 255, 0, 0.468);
    color: black;
    border: transparent;
}
.perkenalan {
    color: white;
    padding-top: 100px;
    text-align: center;
}
.perkenalan img{
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.perkenalan h3{
    font-size: 40px;
}
.perkenalan p {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}
tr {
    color: white;
    margin-right: auto;
}
.container {
    color: white;
    padding-top: 10px
}
.next {
    font-size: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    position: relative;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }

#cv img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.galeri1{
    padding-top: 20px;
    padding-left: 330px;
}
.galeri1 .column {
    float:left;
    width: 50%;
    padding: 0px;
    margin-inline: -40px;
    color: white;
}
.galeri1::after {
    content: "";
    clear: both;
    display: table;
}
#portofolio .container {
    display: flex;
    justify-content: center;
    padding-right: 50px;
  }
  
.image img {
    max-width: 80%;
  }
  
  .image {
    flex-basis: 40%;
    padding-left:-30px
  }
  
  .text {
    font-size: 18px;
    margin-left: -40px;
  }
#penutup {
    position:relative;
}
#penutup h2 {
    padding-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.kontak{
    padding-top: 20px;
    padding-left: 480px;
}
.kontak .column {
    float:left;
    width: 10%;
  }
.kontak img{
    width: 30px;
    height: 30px;
    
}
.jempol {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 